main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.aplicacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 50px;
    
}

.blocos{
    text-align: center;
}

.dificuldade{
    text-align: center;
}

.numeracao{
    padding: 40px;
    background-color: rgb(53, 193, 235);
    font-size: 50px;
}
.descricao{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

    background-color: rgb(19, 158, 201);
    
}

.price{
    text-align: center;
}
